TATUM_API_KEY=
TATUM_SUI_NETWORK=testnet
TATUM_SUI_ENDPOINT=
LINOW_PACKAGE_ID=0x6b800d28cc87423198e6b35516885f9c6155a680424ac28aa47f59eabd2994d5
# Use NEXT_PUBLIC_LINOW_PACKAGE_ID instead of LINOW_PACKAGE_ID only when the browser app needs to display or build transactions with the public package ID.
NEXT_PUBLIC_LINOW_PACKAGE_ID=0x6b800d28cc87423198e6b35516885f9c6155a680424ac28aa47f59eabd2994d5
WALRUS_NETWORK=testnet
WALRUS_PUBLISHER_URL=https://publisher.walrus-testnet.walrus.space
WALRUS_AGGREGATOR_URL=https://aggregator.walrus-testnet.walrus.space
